@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 16px; 
}

body {
  background-color: #b3b3b3;
}



.item1 {
  grid-area: esquerda;
  grid-area: 2 / 2 / 40 / 3;
  padding: 20px;
  margin: 0 auto;
  border-radius: 50px;
  /* border: none; */
  text-transform: uppercase;
  font-weight: 700;
  background: #b3b3b3;
}

.item2 {
  grid-area: direita;
  grid-area: 3 / 4 / 40 / 6;
  opacity: 0.5;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "esquerda esquerda direita direita direita"
    "esquerda esquerda direita direita direita"
    "esquerda esquerda direita direita direita"
    "esquerda esquerda direita direita direita";
  grid-gap: 10px;
  padding: 10px;
  margin-bottom: 20px;
}

input {
	width: 123%;
	padding: 10px;
	border: none;
	margin: 0 35px 10px 35px;
	border-radius: 50px;
    text-align: center;
  
}

#alterar{
	padding: 10px;
	width: 125%;
	margin: 20px 30px 0px 32px;
	border-radius: 50px;
	border: none;
	text-transform: uppercase;
	color: white;
	background: linear-gradient(to right, orangered, #DC143C);
	cursor: pointer;
    text-align: center;

}

#limpar{
	padding: 10px;
	width: 125%;
	margin: 10px 30px 0px 32px;
	border-radius: 50px;
	border: none;
	text-transform: uppercase;

	color: white;
	background: linear-gradient(to right, orangered, #DC143C);
	cursor: pointer;
    text-align: center;
}
.form{
	display: flex;
	flex-direction: column;
}

h3 {
  background:#DC143C;
    width: 140%;
  border-radius: 50px;
  color: white;
  padding: 15px 20px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 40px;
  margin-left: 10px;
  
}


@media (max-width: 800px) {
  .item2 {
      opacity: 0;
  }
}
@media (max-width:600px) {
  .item2{
    opacity: 0;
  }
}

@media (max-width: 800px) {
  .item1, input {
      width: 70vw;
  }
}
@media (max-width:600px) {
  .item1, input {
    width: 70vw;
  }
}